@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --roboto-ff: 'Roboto Mono', monospace;
  font-family: var(--roboto-ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}

*::selection {
  background: white;
  color: black;
}